.field {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    background: #c0c0c0;
}

.mine {
    background: url('/mine.png');
    background-color: white;
    background-size: 100%;
}

.uncovered {
    background-color: white;
}